<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="bonus"></include>
		</run>
	</groups>
<test name="OperationTest">
	<classes>
		  <class name="test.OperationTest">
      		<methods>
      			<exclude name="testAdd"></exclude>
      			<exclude name="testSub"></exclude>
      	</methods>
      </class>
	</classes>
</test>
  <test thread-count="5" name="ProductTest">
    <classes>    
      <class name="test.ProductServiceTest"></class>
    </classes>
  </test> <!-- Test -->
  <test name="LoginTest">
  	<classes>
  		<class name="test.LoginServiceTest"></class>
  	</classes>
  </test>
  <test name="OrganizationTest">
  		<classes>
  			<class name="test.ItTeamTest"></class>
  			<class name="test.NonItTeamTest"></class>
  		</classes>
  </test>
</suite> <!-- Suite -->
